<ul>
  <% @produits.each do |p| %>
    <li><%= p.titre %>
    <% if p.marque_id.present? %>
      <p style="color:#6FEDD6"> published </p>
    <% else %>
      <p style="color:#FF4A4A"> disable  </p></li>
    <% end %>
  <% end %>
</ul>
